*{
    margin: 0;
    padding: 0;
}

body{
font-family:  Roboto;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-template-rows: 80px 395px 395px 80px;
grid-template-areas:
"header header header header"
"main main main main"
"main main main main"
"footer footer footer footer"

}

header{
   
    grid-area: header;
}

main{
    background-color: white;
    grid-area: main;
}

footer{
background-color: grey ;
grid-area: footer;
}


/*----------------header--------------------*/
.logo{
    width: 140px;
    position:relative;
    margin-left: 30px;
    margin-top: -15px;
}

.header{
    
    top: 0;
    width: 100%;
    align-items: center;
    position:fixed;
    padding: 0;
    z-index: 1;
    height: 0;
   
}




.ul2{
    
    margin: 0;
    padding: 0px;
    padding-left: 550px;
    
    
}

.list__details a{
    padding: 5px;
    text-decoration: none;
    font-size: 25px;
    color: rgb(255, 255, 255);
    padding-left: 70px;
    padding-right: 70px;
              
}

.list__details2 {
    padding: 1px;
    font-size: 25px;
    color: rgb(255, 255, 255);
  
}
.list__details a:hover{
    text-decoration: none;
    color: red;
    
}

.navindex{
    --bs-navbar-padding-y: 1rem;
    
}



/*----------------Main index----------------------*/
.body__index{
height: 100vh;
overflow-y: hidden;
}

.card__index{
    font-size: 100px;
    position: absolute;
    top: 80px;
    left:100px
        
}

.images__index{
    height: 810px;
    width: 1200px;
    position: relative;
    left: 800px;
    top:-35px;
    object-fit: cover;
    
    }


.btn2{
    font-size: medium;
    color: white;
    background-color: red;
    border-radius: 6px;
    height:60px;
    width: 200px;
    font-size: 30px;
    outline:none;
    position: absolute;
    left: 120px;
    top: 600px;
}


.btn2:hover{
    background-color: darkred;

}

.word__color{
    color: red;
}





/*--------------footter--------------------*/

.card__footer{
    font-size: 18px;
    text-decoration: none;
    color: rgb(255, 255, 255);
   
}

p a:hover{
    font-family: 'Roboto', sans-serif;
        color: red;
  }

.footer{
   
    color: white;
    text-decoration: none;
    text-align: left;
    width: 100%;
    position: fixed;
    padding: 1em;
    bottom: 0;
               
}

p a{
    color: white;
    text-decoration: none;
}



/*------------------------Juegos-------------------*/
.body__index{
    min-height: 100vh;
    position: relative;
    padding-bottom: 3em;
}
.card__title{
    font-size: 20px;

}
.card__description{
    font-size: 15px;
}
.card__price{
    color: rgb(0, 0, 0);
    font-size: 30px;
}

.card__images{
width: 120px;
}

.box{
    height: 350px;
    width: 185px;
    background-color: none;
    border: 3px solid red;
    padding: 15px 10px 15px 25px;
    margin: 50px;
    
    
}

.box h3{
  margin:0;
}

.card--products{
    background-color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    color: red; 
    display: flex;
    padding: 15px;
    flex-direction: row;
    flex-wrap: wrap;
}

.game__footer{
    color: white;
    text-decoration: none;
    text-align: left;
    width: 100%;
    position: fixed;
    padding: 1em;
    bottom: 0;
    

}



/*-------------------Contactohtml---------------------------------*/

.contactus__title{
    font-size: 115px;
    position: absolute;
    top: 80px;
    left:150px
}

.card__contactus{
    background-color: rgb(255, 255, 255);
    color: black;
    color: rgb(255, 255, 255); 
         
}

.box2{
    height: 300px;
    width: 350px;
    border-style:dashed;
    border: 3px solid rgb(255, 255, 255);
    padding: 15px 15px 1px 15px ;
    margin: 20px 0 0 0;
    position: absolute;
    left:800px;
    top:90px;
    line-height: 3px;
   
}

.borders{
    border: 2px solid grey;
    padding: 5px 7px;
    border-radius: 6px;
    width: 350px;
    margin: -10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: medium;
    color: grey;
}

.consul{
    border: 2px solid grey;
    padding: 5px 7px;
    border-radius: 6px;
    width: 350px;
    height: 140px;
    margin: -10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: medium;
    color: grey;
}

.btn3{
        color: white;
    background-color: red;
    border-radius: 6px;
    height:40px;
    width: 140px;
    font-size: 26px;
    outline:none;
    position: absolute;
    left: 214px;
    top: 450px;
}


.btn3:hover{
    background-color: darkred;

}

/*--------------------Novedades------------------*/
.card__new{
    position: relative;
    left: 60px;
    color: red;
    font-size: 27px;
}
.card__description{
    top: 150px;
    
    }
    
.eldenring{
    display: flex;
        
}
    
.text__trailer{
    width: 45%;
    padding: 10px;
    position: relative;
    left: 50px;
}

.trailer{
position: absolute;
left: 1050px;

}

/*-------------mobile Index---------------*/
@media screen and (max-width:767px) {
    .logo{
        width:130px;
        position:absolute;
        margin-left: 5px;
        margin-top: -18px
    }

    body{
        height: 100vh;
    }
    
    .images__index{
        position: relative;
        height: 260px;
        width: 380px;
        bottom:30px;
        left:0;
       
           
    
    }
      
    .card__index{
        font-size: 45px;
        top:250px;
        left:60px;
    }  

    .btn2{
        font-size: medium;
        color: white;
        background-color: red;
        border-radius: 6px;
        height:45px;
        width: 150px;
        font-size: 20px;
        outline:none;
        position: absolute;
        left: 105px;
        top: 485px;    
                
    }

/*----------mobile header------------*/

.header{
z-index: 1000;
}

.ul2{
    
    margin: 0;
    padding: 0px;
    padding-left: 0;
    font-size: small;
    z-index: 1;
    
    
}

.list__details a{
    padding: 5px;
    text-decoration: none;
    font-size: 16px;
    z-index: 1;
    
   
}
    
.navindex{
    --bs-navbar-padding-y: 1.27rem;
    z-index: 1;
    
}
    



/*-----------mobile novedades------------*/
    .card__new{
    position: relative;
    left: 10px;
    color: red;
    font-size: 27px;
    

    }

    .text__trailer{
    font-size: 16px;
    position: relative;
    top:290px;
    left:00px;
    width: 450px;
    text-align: left;
    }

    .trailer{
    position: absolute;
    height: 250px;
    top:130px;
    left:10px;
    width: 350px;
    
    }



    /*--------------contacto mobile-----------*/

    .contactus__title{
        font-size: 60px;
        position: absolute;
        top: 5px;
        left:30px
    }
    
    #card__contactus{
        background-color: rgb(255, 255, 255);
        color: black;
        font-family: 'Roboto', sans-serif; 
        color: rgb(255, 255, 255); 
        border-radius: 6px;
       
    }
    
    
    
    .box2{
        height: 200px;
        width: 250px;
        border-style:dashed;
        border: 3px solid rgb(255, 255, 255);
        padding: 15px 15px 1px 15px ;
        
        margin: 50px 0 0 0;
        position: absolute;
        left:-20px;
        top:160px;
        line-height: 20px;
    }



    .borders{
        border: 2px solid grey;
        
        border-radius: 5px;
        width: 300px;
        font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: small;
        color: grey;

       
    
    }

    .consul{
        border: 2px solid grey;
        padding: 3px;
        border-radius: 5px;
        height: 100px;
        width: 300px;
        left: 40px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: small;
        color: grey;
    }
    
    .btn3{
        font-size: medium;
        color: white;
        background-color: red;
        border-radius: 6px;
        height:45px;
        width: 150px;
        font-size: 20px;
        outline:none;
        position: absolute;
        left: 120px;
        top: 350px;  
    }
    
    
    .btn3:hover{
        background-color: darkred;
    
    }

}


